.select{
    width:400px;
}
.box{
    border: 2px solid black;
    width:800px;
    height:300px;
    margin-top: 160px;
    background-color: rgb(177, 193, 27);
}
.box{
    border: 2px solid black;
    width:800px;
    height:300px;
    margin-top: 160px;
    background-color: rgb(36, 155, 87);
}
.box1{
    border: 2px solid rgb(0, 0, 0);
    width:800px;
    height:300px;
    margin-top: 160px;
    background-color: rgb(72, 46, 165);
}
.box2{
    border: 2px solid black;
    width:800px;
    height:300px;
    margin-top: 160px;
    background-color: rgb(181, 134, 33);
}
.total{
    display: flex;
}